.CollectionButtons {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.CollectionButtons button { transition: box-shadow 200ms ease-in-out; }

.CollectionButtons button:hover {
  box-shadow: 0 .2rem .4rem -.2rem black;
}

.plus-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  font-size: 2rem;
  background-color: lightgreen;
}

.cross-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  margin-bottom: .5rem;
  background-color: orangered;
}

.plus-btn, .cross-btn {
  border-width: 0;
  color: white;
}