.EditActions {
  position: absolute;
  left: 100%;
  top: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  padding-left: .3rem;
}

.edit-button {
  padding: .2em .4em;
  background-color: transparent;
  border: none;
  border-radius: .2em;
  font-size: 1.4rem;
  transition: background-color 300ms ease-in;
}

.edit-button:hover {
  background-color: whitesmoke;
}
