/**/
input,
textarea { width: 100%; }

textarea {
  font: inherit;
  resize: vertical;
}
/**/

.bio-name,
.bio-about {
  display: block;
}

.contact-info {
  padding-left: 0;
  list-style-type: none;
  columns: 2;
}

.contact-info li {
  display: flex;
  margin-bottom: .6em;
}

.contact-info select {
  margin-right: 1rem;
}

.skills {
  list-style-type: none;
  padding-left: 0;
}

.skills li {
  display: inline-block;
  margin: .5rem;
  padding: .5em 1em;
  border-radius: .5em;
  background-color: black;
  color: white;
}

.skills-input {
  margin-bottom: 1rem;
}
