/**/
:root {
  --title-color: #BA5624;
  --header-color: #FFA552;
  --text-color: #381D2A;
  --tag-color: #79B4A9;
}

* { box-sizing: border-box; }

input,
textarea {
  width: 100%;
}

input, textarea, select {
  color: inherit;
}

textarea {
  font: inherit;
  resize: vertical;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-bottom: 1rem;
}

section {
  position: relative;
}

/**/

/* utilities */
.m-b-1 {
  margin-bottom: 1rem;
}

.m-b-2 {
  margin-bottom: 2rem;
}

.m-b-1\/2 {
  margin-bottom: .5rem;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.pop-in {
  animation: pop-in 150ms ease-in normal forwards;
}

@keyframes pop-in {
  from {
    transform: scale(.5, .5);
  }

  to {
    transform: scale(1, 1);
  }
}
/**/

a:link {  color: var(--title-color); }

a:visited { color: var(--text-color); }

a:hover { color: var(--header-color); }

a:active { color: var(--title-color); }

.App {
  max-width: 1440px;
  margin: 0 auto;
  /* 'margins' : */
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: var(--text-color);
  min-height: 100vh;
  position: relative;
}

.bio-name,
.bio-about {
  display: block;
}

.bio-name {
  color: var(--title-color);
}

.contact-info {
  padding-left: 0;
  list-style-type: none;
  columns: 2;
}

.contact-info li {
  display: flex;
  margin-bottom: .6em;
}

.contact-info select {
  margin-right: 1rem;
}

h2 {
  border-bottom: .2rem solid var(--header-color);
  color: var(--header-color);
}

.skills {
  list-style-type: none;
  padding-left: 0;
}

.skills li {
  display: inline-block;
  margin: .5rem;
  padding: .5em 1em;
  border-radius: .5em;
  background-color: var(--tag-color);
  color: white;
}

.skills-input {
  margin-bottom: 1rem;
}

.chrono-entry {
  margin-bottom: 2rem;
}

.year-from::after {
  content: " - ";
}

.year-until {
  margin-right: 2em;
}

.organization {
  font-style: italic;
}

.gained-title {
  font-weight: 600;
}

.edit-when-where {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 1rem;
}

.edit-when-where > input[type="number"]{
  width: 10ch;
}

.OtherSkills .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.print-btn {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: .25em .5em;
  background-color: var(--title-color);
  color: white;
  border-radius: .5rem;
  border: .1em solid var(--header-color);
  box-shadow: 0 0 .4rem rgba(127, 127, 127, .9),
              0 .6em .6em -.6em rgba(127, 127, 127, .8);
}

.print-btn:hover {
  background-color: var(--text-color);
  border-color: var(--title-color);
}

footer {
  position: absolute;
  bottom: .5rem;
  font-size: .9rem;
}

footer a:link,
footer a:visited {
  color: var(--tag-color);
}

footer a:hover { color: var(--header-color); }

@media print {
  .print-btn,
  div.EditActions,
  footer { display: none; }
}
