/**/
input,
textarea {
  box-sizing: border-box;
  width: 100%;
}

textarea {
  font: inherit;
  resize: vertical;
}

h2 {
  margin-top: 2em;
  margin-bottom: 0;
}
/**/

/* utilities */
.m-b-1 {
  margin-bottom: 1rem;
}
/**/

.bio-name,
.bio-about {
  display: block;
}

.contact-info {
  padding-left: 0;
  list-style-type: none;
  columns: 2;
}

.contact-info li {
  display: flex;
  margin-bottom: .6em;
}

.contact-info select {
  margin-right: 1rem;
}

.skills {
  list-style-type: none;
  padding-left: 0;
}

.skills li {
  display: inline-block;
  margin: .5rem;
  padding: .5em 1em;
  border-radius: .5em;
  background-color: black;
  color: white;
}

.skills-input {
  margin-bottom: 1rem;
}

.chrono-entry {
  padding-top: 1rem;
}

.year-from::after {
  content: " - ";
}

.year-until {
  margin-right: 2em;
}

.organization {
  font-style: italic;
}

.gained-title {
  font-weight: 600;
}

.edit-when-where {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 1rem;
}

.edit-when-where > input[type="number"]{
  width: 10ch;
}
